*{
 
font-family: Verdana, Geneva, Tahoma, sans-serif;
box-sizing: border-box;
margin: 0;
font-size: 20px;
}
body{
  background: rgb(117,42,80);
  background: radial-gradient(circle, rgba(117,42,80,1) 0%, rgba(85,22,48,1) 100%);
}
.container{
  background-color: #ffffff;
color: black;
padding: 20px;
width: 500px;
min-width: fit-content;
margin: auto;
margin-top: 40px;
}
.card{
  color: rgb(49, 64, 110);
  font-weight: 700;

}
button{
  border: solid 2px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
button:hover{
  background: yellow;
}

p{
  margin: 10px;
  text-decoration: underline;
  text-underline-offset: 4px;
}